@model CourseProject.Dish

@{
    ViewBag.Title = "Удаление блюда";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page_header">Удаление блюда</h2>

<h3>Вы уверены, что хотите удалить это блюдо?</h3>
<div>
    <hr />
    <table class="details_tbl">
        <tr>
            <td>
                <img src="@Model.ImageName" />
            </td>
            <td>
                <dl class="details_style">
                    <dt>
                        @Html.DisplayName("Имя")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayName("Цена")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cost)
                    </dd>

                    <dt>
                        @Html.DisplayName("Тип")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DishesType.Type)
                    </dd>

                </dl>
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Да, удалить" class="btn btn-default" />
            @Html.ActionLink("Нет, вернуться назад", "Index", "Dishes", htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>
