@model CourseProject.Ingredient

@{
    ViewBag.Title = "Удаление ингредиента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page_header">Удаление ингредиента</h2>

<h3>Вы уверены, что хотите удалить этот ингредиент?</h3>
<div>
    <hr />
    <dl class="details_style">
        <dt>
            @Html.DisplayName("Название ингредиента")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Вес")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayName("Наличие")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>

        <dt>
            @Html.DisplayName("Категория")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientsCategory.Category_Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Да, удалить" class="btn btn-default" />
            @Html.ActionLink("Нет, вернуться назад", "Index", "Ingredients", htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
</div>